x-smartstore-service: &smartstore-service
  image: minwoojungdev/smartstore:latest
  restart: unless-stopped
  build:
    context: .
    target: runner
  env_file:
    - .env.docker

x-smartstore-env: &smartstore-env
  NODE_ENV: production

services:
  smartstore-auto-post:
    <<: *smartstore-service
    ports:
      - "${PORT_AUTO_POST:-3000}:3000"
    environment:
      <<: *smartstore-env
      CRON_SERVICE_TYPE: auto-post

  smartstore-auto-stock:
    <<: *smartstore-service
    ports:
      - "${PORT_AUTO_STOCK:-3001}:3000"
    environment:
      <<: *smartstore-env
      CRON_SERVICE_TYPE: auto-stock-scale
