x-smartstore-service: &smartstore-service
  image: minwoojungdev/smartstore-v2:latest
  restart: unless-stopped
  build:
    context: .
    target: runner
  env_file:
    - .env.docker

x-smartstore-env: &smartstore-env
  NODE_ENV: production
  TZ: Asia/Seoul

services:
  smartstore-auto-post:
    <<: *smartstore-service
    container_name:
      post
    environment:
      <<: *smartstore-env
      CRON_SERVICE_TYPE: auto-post

  smartstore-auto-stock:
    <<: *smartstore-service
    container_name:
      stock
    environment:
      <<: *smartstore-env
      CRON_SERVICE_TYPE: auto-stock-scale
