services:
  smartstore:
    image: minwoojungdev/smartstore:latest
    restart: unless-stopped
    build:
      context: .
      target: runner
    ports:
      - "${PORT:-3000}:3000"
    env_file:
      - .env.docker

    environment:
      NODE_ENV: production
